<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.jpg">
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Sandesh Tiwari. It uses data from mapbox.com and darksky.net!</p>
      <img class="portrait" src="/img/me.jpg" alt="">
    </div>

    {{>footer}}
  </body>
</html>
